@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-step-header {
  background-color: transparent;
}

.mat-card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1) !important;
}

.mat-form-field {
  width: 100%;
}